/* Home */
.landing {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  /* padding-top: 8rem;
  padding-bottom: 8rem; */
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url(./images/backgrounds/bg-masthead.jpg);
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.landing h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.landing .content {
  position: relative;
  z-index: 9999;
}

.shade {
  opacity: 0.4;
  top:0;
  left:0;
  z-index: 9998;
}

.classes .card.class {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 2px !important;
}

.classes .card.class .card-header{
    border-left: 10px solid black !important;
}

.classes .card.class.class-lkg .card-header {
  border-color: #2498BB !important;
  color: #2498BB !important;
}

.classes .card.class.class-ukg .card-header {
  border-color: #E9C46A !important;
  color: #E9C46A !important;
}

.classes .card.class.class-1 .card-header {
  border-color: #1D3557 !important;
  color: #1D3557 !important;
}

.classes .card.class.class-2 .card-header {
  border-color: #FFADAD !important;
  color: #FFADAD !important;
}

.classes .card.class.class-3 .card-header {
  border-color: #FB5607 !important;
  color: #FB5607 !important;
}

.classes .card.class.class-4 .card-header {
  border-color: #FF006E !important;
  color: #FF006E !important;
}

.classes .card.class.class-5 .card-header {
  border-color: #9B5DE5 !important;
  color: #9B5DE5 !important;
}

.classes .card.class.class-6 .card-header {
  border-color: #7BDFF2 !important;
  color: #7BDFF2 !important;
}

.classes .card.class.class-7 .card-header {
  border-color: #D4E09B !important;
  color: #D4E09B !important;
}

.classes .card.class.class-8 .card-header {
  border-color: #5F0F40 !important;
  color: #5F0F40 !important;
}

.classes .card.class.class-9 .card-header {
  border-color: #FF99C8 !important;
  color: #FF99C8 !important;
}

.classes .card.class.class-10 .card-header {
  border-color: #3BCEAC !important;
  color: #3BCEAC !important;
}
