.bg-orange {
  background: #d94b2b !important;
}

.btn-orange {
  background: #d94b2b !important;
  color: #ffffff !important;
}

.text-orange {
  color: #d94b2b !important;
}

ion-icon {
  color: #d94b2b !important;
}
